<html>
    <head>
        <style>
            {% include 'chart/view.css' %}
        </style>
    </head>
    <body>
        <div class="stats">
            <ul>
                <li>Avg final value: {{stats_amount_end|number_format}}</li>
                <li>Start amount: {{stats_amount_start|number_format}} - Periods: {{stats_periods}} - Interest rate: {{stats_rate}}% - Final Amount: {{stats_amount_end|number_format}}</li>
                <li>Probability of success: <span class="{{stats_probability_success==100 ? 'color_green' : 'color_red'}}">{{stats_probability_success}}%</span></li>
            </ul>
        </div>
        <div class="flex-container">
            <div class="flex-form">
                <form method="post">
                    <div class="buttons">
                        <input type="submit" value="Run"/>
                    </div>
                    <div class="settings">
                        <div>
                            <span>Years:</span><input name="years" placeholder="years" value="{{years}}"/>
                            <span>Simulations:</span><input name="simulations" placeholder="Simulations" value="{{simulations}}"/>
                            <span>Remove percentile:</span><input name="remove_percentile" placeholder="Remove percentile" value="{{remove_percentile}}"/>
                            <span>Withdraw year:</span><input name="withdraw_year" placeholder="Withdraw year" value="{{withdraw_year}}"/>
                            <span>Monthly withdraw amount:</span><input name="withdraw_amount" placeholder="Monthly withdraw amount" value="{{withdraw_amount}}"/>
                        </div>
                        <div class="add_market">
                            <input name="new_market" type="text" placeholder="Market Name"/>
                            <input type="button" value="Add Market"/>
                        </div>
                        <div>
                            <span>Investment amount:</span><input name="market_investment_amount" placeholder="Investment amount" value="{{market_investment_amount}}"/>
                            <span>Investment rate:</span>
                            <select name="market_investment_rate">
                                {% for rate in market_investment_rate_options %}
                                    <option value="{{rate.name}}" {% if rate.selected is defined and rate.selected == true %}selected{% endif %}>{{rate.name}}</option>
                                {% endfor %}
                            </select>
                            <span>Investment Monthly contribution:</span><input name="market_investment_monthly_contribution" placeholder="Monthly contribution" value="{{market_investment_monthly_contribution}}"/>
                            <span>Years contribution:</span><input name="market_investment_contribution_years" placeholder="Years" value="{{market_investment_contribution_years}}"/>
                        </div>
                        <div>
                            <span>Pension amount:</span><input name="market_pension_amount" placeholder="Pension amount" value="{{market_pension_amount}}"/>
                            <span>Pension rate:</span>
                            <select name="market_pension_rate">
                                {% for rate in market_pension_rate_options %}
                                    <option value="{{rate.name}}" {% if rate.selected is defined and rate.selected == true %}selected{% endif %}>{{rate.name}}</option>
                                {% endfor %}
                            </select>
                            <span>Pension Monthly contribution:</span><input name="market_pension_monthly_contribution" placeholder="Monthly contribution" value="{{market_pension_monthly_contribution}}"/>
                            <span>Years contribution:</span><input name="market_pension_contribution_years" placeholder="Years" value="{{market_pension_contribution_years}}"/>
                        </div>
                        
                        
                    </div>
                    
                </form>
            </div>
            <div class="flex-image">
                <img src="{{chart}}" />
            </div>
        </div>

        
    </body>
</html>